.containerLogo {
    text-align: center;
    height: 400px;
}

.containerLogo h1 {
    color: gray;
}

.containerLogo h2 {
    color: rgb(95, 95, 95);
}

.containerLogo h4 {
    color: rgb(60, 60, 60);
    text-align: start;
}