body {
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: rgb(65, 54, 89);
  
  overflow: hidden;  
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 90vw;
  height: 90vh;
}